<table>
    <tr
        ><td> ❤️</td>
        <td>
            <img
                height="24px"
                title="Rust"
                src="https://static-00.iconduck.com/assets.00/rust-icon-512x511-cfvdvrfr.png"
            />
            <img
                height="24px"
                title="Markdown"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Markdown-mark.svg/2560px-Markdown-mark.svg.png"
            />
            <img
                height="24px"
                title="Eilxir"
                src="https://elixir-lang.org/images/logo/logo.png"
            />
            <img
                height="24px"
                title="JavaScript"
                src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png"
            />
            <img
                height="24px"
                title="Ruby"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/1200px-Ruby_logo.svg.png"
            />
        </td></tr
    >
    <tr
        ><td> 🌸</td>
        <td>
            <img
                height="24px"
                title="Python"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png"
            />
            <img
                height="24px"
                title="Lua"
                src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Lua-Logo.svg"
            />
            <img
                height="24px"
                title="Racket"
                src="https://racket-lang.org/img/racket-logo.svg"
            />
            <img
                height="24px"
                title="TypeScript"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png"
            />
            <img
                height="24px"
                title="Kotlin"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Kotlin_Icon.png/1200px-Kotlin_Icon.png"
            />
            <img
                height="24px"
                title="HTML"
                src="https://cdn-icons-png.flaticon.com/512/919/919827.png"
            />
            <img
                height="24px"
                title="Mandarin"
                src="https://cdn.iconscout.com/icon/premium/png-256-thumb/chinese-language-2693422-2235239.png"
            />
            <img
                height="24px"
                title="Cantonese"
                src="https://static.thenounproject.com/png/2223127-200.png"
            />
            <img
                height="24px"
                title="English"
                src="https://static.thenounproject.com/png/1454057-200.png"
            />
        </td></tr
    >
    <tr
        ><td> 👌</td>
        <td>
            <img
                height="18px"
                title="LaTeX"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/LaTeX_logo.svg/2560px-LaTeX_logo.svg.png"
            />
            <img
                height="22px"
                title="Julia"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Julia_Programming_Language_Logo.svg/1200px-Julia_Programming_Language_Logo.svg.png"
            />
            <img
                height="24px"
                title="Java"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png"
            />
            <img
                height="24px"
                title="Svelte"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Svelte_Logo.svg/851px-Svelte_Logo.svg.png"
            />
            <img
                height="24px"
                title="CSS"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png"
            />
            <img
                height="24px"
                title="C"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/926px-C_Programming_Language.svg.png"
            />
        </td></tr
    >
    <tr
        ><td> 🤷</td>
        <td>
            <img
                height="24px"
                title="Fish"
                src="https://fishshell.com/docs/current/_static/fish.png"
            />
            <img
                height="18px"
                title="Go"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Go_Logo_Blue.svg/1200px-Go_Logo_Blue.svg.png"
            />
            <img
                height="24px"
                title="Bash"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Bash_Logo_black_and_white_icon_only.svg/1792px-Bash_Logo_black_and_white_icon_only.svg.png"
            />
            <img
                height="24px"
                title="VimScript"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Vimlogo.svg/1200px-Vimlogo.svg.png"
            />
            <img
                height="24px"
                title="R"
                src="https://uploads-ssl.webflow.com/60416e232fe5811ea23a841c/6437f071cacaa15170a2bc3e_R.png"
            />
            <img
                height="24px"
                title="Elisp"
                src="https://repository-images.githubusercontent.com/327491218/a7b2a783-4f31-48a8-8eca-be643a58589c"
            />
        </td></tr
    >
    <tr
        ><td> 🙁</td>
        <td>
            <img
                height="24px"
                title="Mathematica"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Mathematica_Logo.svg/800px-Mathematica_Logo.svg.png"
            />
            <img
                height="24px"
                title="MATLAB"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Matlab_Logo.png/640px-Matlab_Logo.png"
            />
            <img
                height="24px"
                title="C++"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1822px-ISO_C%2B%2B_Logo.svg.png"
            />
        </td></tr
    >
</table>
