---
const love = [
    [
        "Rust",
        "https://camo.githubusercontent.com/663673aa3a2d27987d8a7ea4ec8cadbd165c8c6806cfb2d8abe05315d2acb5dd/68747470733a2f2f7374617469632d30302e69636f6e6475636b2e636f6d2f6173736574732e30302f727573742d69636f6e2d353132783531312d63667664767266722e706e67",
    ],
    [
        "Markdown",
        "https://camo.githubusercontent.com/1a72e021ace5dbcbf81a942c6c185f98f86ef25cad0fd50a9ff340edd2415aad/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f342f34382f4d61726b646f776e2d6d61726b2e7376672f3235363070782d4d61726b646f776e2d6d61726b2e7376672e706e67",
    ],
    [
        "Elixir",
        "https://camo.githubusercontent.com/428ac5bbb0a1201ff8b1209ac359456bd69a1324416953c153b2f2dacb0cebcd/68747470733a2f2f656c697869722d6c616e672e6f72672f696d616765732f6c6f676f2f6c6f676f2e706e67",
    ],
    [
        "JavaScript",
        "https://camo.githubusercontent.com/899faceac4ba793d1b47c461a572a228f852b16827a75a3c1744db1502d2b4ce/68747470733a2f2f63646e2d69636f6e732d706e672e666c617469636f6e2e636f6d2f3531322f353936382f353936383239322e706e67",
    ],
    [
        "Ruby",
        "https://camo.githubusercontent.com/6ab23c99c539d1dbeeb814d642d6ce4d757ccdfb0e9efef3819ea47338474d9e/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f372f37332f527562795f6c6f676f2e7376672f3132303070782d527562795f6c6f676f2e7376672e706e67",
    ],
];
const nice = [
    [
        "Python",
        "https://camo.githubusercontent.com/c15141700fd20b43ada6d18c559bef630e398d0393c497586286bcb60a3bc29f/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f632f63332f507974686f6e2d6c6f676f2d6e6f746578742e7376672f3138363970782d507974686f6e2d6c6f676f2d6e6f746578742e7376672e706e67",
    ],
    [
        "Lua",
        "https://camo.githubusercontent.com/a69d0c52ffa72c0c4ca85a5393257f149d46f00aab49a0313d51009417079414/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f632f63662f4c75612d4c6f676f2e737667",
    ],
    [
        "Racket",
        "https://camo.githubusercontent.com/9fd1e1b0c0592c01588b5bf8dd7cf9069f751fecb9186639be4a23520aa291ed/68747470733a2f2f7261636b65742d6c616e672e6f72672f696d672f7261636b65742d6c6f676f2e737667",
    ],
    [
        "TypeScript",
        "https://camo.githubusercontent.com/6e5c3a87b7122c557294a22a9ac4678ffd653bcc49f100fbeb0f9e121b365895/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f342f34632f547970657363726970745f6c6f676f5f323032302e7376672f3230343870782d547970657363726970745f6c6f676f5f323032302e7376672e706e67",
    ],
    [
        "Kotlin",
        "https://camo.githubusercontent.com/5666cf47538b2e6f408236b51731b67f27926eacc00abaa961e5a1bc0065c569/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f372f37342f4b6f746c696e5f49636f6e2e706e672f3132303070782d4b6f746c696e5f49636f6e2e706e67",
    ],
    [
        "Dart",
        "https://camo.githubusercontent.com/fb10b034a53e8934b444c2aa6b9348b8e6e9d89abdd2c7fc76f5d5b0309395fd/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f632f63362f446172745f6c6f676f2e706e672f37363870782d446172745f6c6f676f2e706e67",
    ],
    [
        "HTML",
        "https://camo.githubusercontent.com/2f95ece070afd48860083859f93f974d53d7096263d4b8cc08482ff6d1fd4810/68747470733a2f2f63646e2d69636f6e732d706e672e666c617469636f6e2e636f6d2f3531322f3931392f3931393832372e706e67",
    ],
    [
        "Mandarin",
        "https://camo.githubusercontent.com/fe36c74691fcd360de4f69385cf18c3478717b4da4844d0e51fa51d25898f93c/68747470733a2f2f63646e2e69636f6e73636f75742e636f6d2f69636f6e2f7072656d69756d2f706e672d3235362d7468756d622f6368696e6573652d6c616e67756167652d323639333432322d323233353233392e706e67",
    ],
    [
        "Cantonese",
        "https://camo.githubusercontent.com/ee0438e8bd451c6211cb9a54b6ba2e418b009259472bbb8b6907e6e158d9f1dd/68747470733a2f2f7374617469632e7468656e6f756e70726f6a6563742e636f6d2f706e672f323232333132372d3230302e706e67",
    ],
    [
        "English",
        "https://camo.githubusercontent.com/7aed7c791ee8a541d826229efb304a94638801ca9734a915a4a33ab50e8324a3/68747470733a2f2f7374617469632e7468656e6f756e70726f6a6563742e636f6d2f706e672f313435343035372d3230302e706e67",
    ],
];
const okay = [
    [
        "LaTeX",
        "https://camo.githubusercontent.com/82e50ee099c84a48476ccffcea33057756bbda6ef6f99497b7d065397abd3df2/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f392f39322f4c615465585f6c6f676f2e7376672f3235363070782d4c615465585f6c6f676f2e7376672e706e67",
        18,
    ],
    [
        "Swift",
        "https://camo.githubusercontent.com/9b7ce85b65f3e612f0dc7190624bfebf066da03ee0affbf0074006db3f2295ba/68747470733a2f2f63646e342e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f736f6369616c2d6d656469612d6c6f676f732d362f3531322f32332d73776966742d3531322e706e67",
    ],
    [
        "Julia",
        "https://camo.githubusercontent.com/fd27f458dabd32329dc18f429eb395f5d026893b73d049eb959c034f163d0b33/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f312f31662f4a756c69615f50726f6772616d6d696e675f4c616e67756167655f4c6f676f2e7376672f3132303070782d4a756c69615f50726f6772616d6d696e675f4c616e67756167655f4c6f676f2e7376672e706e67",
        22,
    ],
    [
        "Java",
        "https://camo.githubusercontent.com/7187dd1dfad78ec7e2a6379e790a43154f96414fb52f22070aa5835e8ed9e128/68747470733a2f2f63646e342e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6c6f676f732d616e642d6272616e64732f3531322f3138315f4a6176615f6c6f676f5f6c6f676f732d3531322e706e67",
    ],
    [
        "Svelte",
        "https://camo.githubusercontent.com/a928b17f87fdad9e7a0eb423c98d791657cac7e2d5d2763df9162308d187912b/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f312f31622f5376656c74655f4c6f676f2e7376672f38353170782d5376656c74655f4c6f676f2e7376672e706e67",
    ],
    [
        "CSS",
        "https://camo.githubusercontent.com/cf001d2a684fad204e899dab911627fbe9180dbaf26f89c432f438a375e88e6a/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f642f64352f435353335f6c6f676f5f616e645f776f72646d61726b2e7376672f3132303070782d435353335f6c6f676f5f616e645f776f72646d61726b2e7376672e706e67",
    ],
    [
        "C",
        "https://camo.githubusercontent.com/8734957cf766110b23fdaabdac53a1c940cc3dab149625da3b2017ef08aeb9e1/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f312f31382f435f50726f6772616d6d696e675f4c616e67756167652e7376672f39323670782d435f50726f6772616d6d696e675f4c616e67756167652e7376672e706e67",
    ],
];
const dontCare = [
    [
        "Fish",
        "https://camo.githubusercontent.com/7eeb81627a3cc4b05492b2d8a5e9340eaab836402b5b0e56300ed237e20fdc55/68747470733a2f2f666973687368656c6c2e636f6d2f646f63732f63757272656e742f5f7374617469632f666973682e706e67",
    ],
    [
        "Go",
        "https://camo.githubusercontent.com/76f3585441bb19e225e73c691a37faf670a272f4951d492809e5236cf74bee9e/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f302f30352f476f5f4c6f676f5f426c75652e7376672f3132303070782d476f5f4c6f676f5f426c75652e7376672e706e67",
        18,
    ],
    [
        "Bash",
        "https://camo.githubusercontent.com/283540733a46792feac163124c06bf0287b4f18008ff36d9d615f2f553b2d5f5/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f322f32302f426173685f4c6f676f5f626c61636b5f616e645f77686974655f69636f6e5f6f6e6c792e7376672f3137393270782d426173685f4c6f676f5f626c61636b5f616e645f77686974655f69636f6e5f6f6e6c792e7376672e706e67",
    ],
    [
        "VimScript",
        "https://camo.githubusercontent.com/75937fe3cf6b9513be612c60f788d67ab15dded53de7f96fc141923359dbdb2e/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f392f39662f56696d6c6f676f2e7376672f3132303070782d56696d6c6f676f2e7376672e706e67",
    ],
    [
        "R",
        "https://camo.githubusercontent.com/14192288510d5f7f700e9c62c5b0446acb4c3cf61795bf0a29820b16370cbde6/68747470733a2f2f75706c6f6164732d73736c2e776562666c6f772e636f6d2f3630343136653233326665353831316561323361383431632f3634333766303731636163616131353137306132626333655f522e706e67",
    ],
    [
        "Elisp",
        "https://camo.githubusercontent.com/f2aab2e94421b715ae9ca1c95c041ce66c76ab876b7b80e0cc974cdeacbe0f69/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f302f30382f456d61637349636f6e2e7376672f3132303070782d456d61637349636f6e2e7376672e706e67",
    ],
];
const dislike = [
    [
        "Mathematica",
        "https://camo.githubusercontent.com/119195cd6b3a53f4ef123fba97c66652740d9081132fea933140c83063940aaa/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f322f32302f4d617468656d61746963615f4c6f676f2e7376672f38303070782d4d617468656d61746963615f4c6f676f2e7376672e706e67",
    ],
    [
        "MATLAB",
        "https://camo.githubusercontent.com/28fcae6218f1c485adc987c8cffb57d35d2bdef1de3aa61f6a8287cfae5e1569/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f322f32312f4d61746c61625f4c6f676f2e706e672f36343070782d4d61746c61625f4c6f676f2e706e67",
    ],
    [
        "C++",
        "https://camo.githubusercontent.com/33e32b4e8699613d15985840cc40771dcb921e2b7a2a2ebd0e5d972ee33cab8f/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f7468756d622f312f31382f49534f5f432532422532425f4c6f676f2e7376672f3138323270782d49534f5f432532422532425f4c6f676f2e7376672e706e67",
    ],
];
const all = [
    ["❤️", love],
    ["🌸", nice],
    ["👌", okay],
    ["🤷", dontCare],
    ["🙁", dislike],
];
---

<table>
    {
        all.map((c) => (
            <tr>
                <td>{c[0]}</td>
                <td>
                    {c[1].map((e) => (
                        <>
                            <img
                                height={`${e[2] || 24}px`}
                                title={e[0]}
                                src={e[1]}
                            />
                            <span> </span>
                        </>
                    ))}
                </td>
            </tr>
        ))
    }
</table>
